<mat-drawer-container hasBackdrop>

  <mat-drawer #drawer>
    <button mat-raised-button (click)="drawer.close()" onclick="this.blur()">Close</button>
    <a mat-button (click)="drawer.close()" color="primary" [routerLink]="['/view/tasks']" routerLinkActive="router-link-active" class="d-block">Task View</a>
    <a mat-button (click)="drawer.close()" color="primary" [routerLink]="['/view/users']" routerLinkActive="router-link-active" class="d-block">User View</a>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <button mat-icon-button (click)="drawer.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Graceland PM</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>
