<mat-drawer-container hasBackdrop>
  <mat-drawer #drawer>
    <button mat-raised-button (click)="drawer.close()">Close</button>
    <p>I'm a drawer, hear me wrawer!</p>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Graceland PM</span>
    </mat-toolbar>

      <div fxLayout="column" fxLayoutGap="10px">
        <div><h1>Task List</h1></div>
        <div *ngFor="let task of tasks" class="ml-5 mr-5">
          <mat-card [style.backgroundColor]="'#ddd'" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center">
              <h5 fxFlex>{{ task.title }}</h5>
              <div>
                <mat-card-actions>
                  <button mat-mini-fab class="mr-1" (click)="openTask()"><mat-icon>view_list</mat-icon></button>
                  <button mat-mini-fab class="mr-1" (click)="editTask()"><mat-icon>edit</mat-icon></button>
                  <button mat-mini-fab class="mr-1" (click)="markComplete()"><mat-icon>check_circle</mat-icon></button>
                  <button mat-mini-fab class="mr-1" (click)="deleteTask()"><mat-icon>delete_forever</mat-icon></button>
                </mat-card-actions>
              </div>
            </div>

            <mat-card-content fxLayout="row" fxLayoutAlign="center">
              <div fxFlex>
                <p><strong>Created By:</strong></p>
                <p>{{ task.creator }}</p>
              </div>
              <div fxFlex>
                <p><strong>Created On:</strong></p>
                <p>{{ task.createdDate }}</p>
              </div>
              <div fxFlex>
                <p><strong>Due Date:</strong></p>
                <p>{{ task.dueDate }}</p>
              </div>
              <div fxFlex>
                <p><strong>Points:</strong></p>
                <p>{{ task.points }}</p>
              </div>
              <div fxFlex>
                <p><strong>Assignees:</strong></p>
                <p *ngIf="task.assignees === null">0</p>
                <p *ngIf="task.assignees !== null">
                  <span>{{ getAssignees(task) }}</span>
                </p>
              </div>
            </mat-card-content>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-description>See Description</mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ task.description }}</p>
            </mat-expansion-panel>
          </mat-card>
        </div>
      </div>
  </mat-drawer-content>

</mat-drawer-container>



